<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Doctor's Appointment</title>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:300,400,600,700%7CRaleway:400,700,800" rel="stylesheet">
    <link rel="shortcut icon" href="~/DA/assets/img/icon.png" />
    <title></title>
    <!--    Styles-START    -->
    <link rel="stylesheet" href="~/DA/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/DA/assets/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/DA/assets/css/animate.css">
    <link rel="stylesheet" href="~/DA/assets/css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="~/DA/assets/css/sumoselect.css">
    <link rel="stylesheet" href="~/DA/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/DA/assets/css/style1.css" type="text/css" />

    <link rel="stylesheet" href="~/DA/assets/css/departments.css">
   

    <!--    Styles-END  -->
    <style>
        #loader-wrapper {
            position: fixed;
            left: 0;
            top: -100px;
            right: 0;
            bottom: -100px;
            background: #fff;
            z-index: 100;
        }
    </style>
</head>
    <body>
        
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--  Header more info-START  -->
                        <div class="headerMoreInfo">
                            <!--     Phone block-START    -->
                            <div class="phoneBlock">
                                <i class="flatIcon Fphone2 flaticon-technology faa-flash animated"></i>
                                <p>Call Us now</p>
                                <h5 class="h5 as"><a href="tel:">+8801941-656301</a></h5>
                            </div>
                            <!--     Phone block-END   -->
                            @*<a href="" class="button btnSize1">Doctor SignUp/Login</a>*@
                            @Html.ActionLink("Login/SignUp", "Login", "Home", new { @class = "button btnSize1" })
                        </div>
                        <!--  Header more info-END    -->
                        <div class="responsiveSrollWrapper">
                            <!--  Header top-START  -->
                            <div class="headerTopInfo">
                                <div class="headerTopInfoContaner">
                                    <!--  Logo-START  -->
                                    <a href="~/DA/index.html" class="logo">
                                        <img src="~/DA/assets/img/final logo.png" alt="">
                                    </a>
                                    <!--  Logo-END    -->
                                    <!--  Responsive menu-START   -->
                                    <div class="menuIcon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <!--  Responsive menu-END  -->
                                </div>
                            </div>
                            <!--  Header top-END    -->
                            <!--   Menu-START    -->
                            <div class="responsiveWrapper  text-center">
                                <div class="navScroll">
                                    <nav>
                                        <ul>

                                            <li class="active">
                                                @Html.ActionLink("Home", "Index", "Home")
                                            </li>

                                            <li>
                                               @Html.ActionLink("Doctors", "Doctors", "Home")
                                            </li>
                                            <!-- <li><a href="~/DA/about-us.html">about us</a>
                                            <i class="fa fa-angle-down"></i>
                                            <ul>

                                               <li>
                                                  <a href="~/DA/gallery.html">Gallery</a>
                                                  <i class="fa fa-angle-right"></i>
                                                  <ul>
                                                     <li><a href="~/DA/gallery.html">Gallery Classic</a></li>
                                                  </ul>
                                               </li>
                                            </ul>
                                            </li> -->
                                           
                                        </ul>
                                        
                                       
                                    </nav>
                                </div>
                            </div>
                            <!--   Menu-END   -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div>
            @RenderBody()
        </div>
        
        <div>
            @RenderSection("footer",false);
        </div>
        <div>
            @RenderSection("scripts",false);
        </div>
        
    </body>
</html>
